<!-- Comming Soon -->
<article>
  <div class="row">
    <div class="twelve columns title">
      <h2>Обсуждения</h2>
      <h4 class="subheader">Этот раздел сайта пока в разработке, возвращайтесь через неделю-две и скорее-всего он уже будет работать.</h4>
    </div>
  </div>
</article>