<!-- Движение -->
<article>
  <div class="row">
    <div class="twelve columns title">
      <h2>Движение «За Творца»</h2>
      <h4 class="subheader">Движение «За Творца» направлено на возрождение и пробуждение духовности, осознанности, любви в человеке.</h4>
    </div>
  </div>

  <div class="row">
    <div class="six columns">
      <p>Это движение, воплощенное в реальных действиях каждого человека, создает новый стиль жизни.</p>

      <p>Стиль жизни, при котором каждому из нас дан шанс с рождения БЫТЬ ТВОРЦОМ. Этот шанс дан нам, чтобы каждый смог проявить себя и свободу себя в выражении своей любви. Любви ТВОРЦА.</p>

      <p>Эта любовь Творца проявляется в каждом дне жизни ТВОРЦА, в его поведении, в его общении с близкими, в построении отношений и семьи, эта любовь так же проявляется на работе во взаимодействии с коллегами, в помощи нуждающимся, в воплощении своего предназначения.</p>
    </div>

    <div class="six columns">
      <p>Это ДВИЖЕНИЕ, которое означает ДЕЙСТВИЕ и ВОПЛОЩЕНИЕ. И если ты хочешь быть ТВОРЦОМ, спроси себя – готов ли ты воплощать любовь своего сердца в реальной жизни???</p>

      <h6>Готов ли ты:</h6>
      <ul class="disc outside">
        <li><em>достигнуть успеха в работе, идя по зову своего сердца?</em></li>
        <li><em>создать пару с партнером, основанную на любви и единстве?</em></li>
        <li><em>построить свой мир таким, о котором всегда мечтала твоя душа?</em></li>
        <li><em>и главное – поверить в ЛЮБОВЬ и в Творца в Себе?</em></li>
      </ul>

      <p>Если ты ответил да и намерен действовать, то тебе к нам!</p>
    </div>
  </div>
</article>

<div class="row">
  <div class="twelve columns title">
    <h6>Смотрите также:</h6>
    <ul class="disc outside">
      <li><%= link_to "Круг веры", people_path %></li>
      <li><%= link_to "Наши семинары", seminars_path %></li>
    </ul>
  </div>
</div>