<%= content_for :extra_title do %>Движение «За Творца» - <% end %>

<h1>Движение «За Творца»</h1>
<p class="lead">Движение «За Творца» направлено на возрождение и пробуждение духовности, осознанности, любви в человеке.</p>

<p>Это движение, воплощенное в реальных действиях каждого человека, создает новый стиль жизни.</p>

<p>Стиль жизни, при котором каждому из нас дан шанс с рождения БЫТЬ ТВОРЦОМ. Этот шанс дан нам, чтобы каждый смог проявить себя и свободу себя в выражении своей любви. Любви ТВОРЦА.</p>

<p>Эта любовь Творца проявляется в каждом дне жизни ТВОРЦА, в его поведении, в его общении с близкими, в построении отношений и семьи, эта любовь так же проявляется на работе во взаимодействии с коллегами, в помощи нуждающимся, в воплощении своего предназначения.</p>

<p>Это ДВИЖЕНИЕ, которое означает ДЕЙСТВИЕ и ВОПЛОЩЕНИЕ. И если ты хочешь быть ТВОРЦОМ, спроси себя – готов ли ты воплощать любовь своего сердца в реальной жизни???</p>

<p>Готов ли ты достигнуть успеха в работе, идя по зову своего сердца?</p>

<p>Готов ли ты создать пару с партнером, основанную на любви и единстве?</p>

<p>Готов ли ты построить свой мир таким, о котором всегда мечтала твоя душа?</p>

<p>И главное – готов ли ты поверить в ЛЮБОВЬ и в Творца в Себе?</p>

<p>И если ты ответил да и намерен действовать, то тебе к нам.</p>