<%= content_for :extra_title do %>Круг веры - <% end %>

<h1>Круг веры</h1>
<p class="lead">«Круг Веры» - это круг людей активно живущих по принципам движения «За Творца» и активно участвующих в деятельности движения.</p>

<p><strong>Что это дает?</strong></p>

<p>Возрождение истинной Веры в Любовь повсеместно, воплощение Веры в Любовь во всех сферах жизни. При это ты уже понимаешь, что такое любовь? Это не просто цветочки и бабочки, лирика и романтика, это реальная движущая сила Вселенной, это энергия всего Мироздания, это то, из чего все создано. Познание Любви в воплощении, в реализации ее в жизни дает тебе познание Начала, это дает тебе и людям вокруг тебя ДВИЖЕНИЕ ВПЕРЕД, это дает ЖИЗНЬ, а не просто существование. Если есть энергия любви, энергия Бога, то это дает движение вперед во всем и при этом ты создаешь и усиливаешь единство материального и духовного, это единство дает полноту Бытия, полноту твоей реальной жизни в изобилии материального мира, в наполненности отношений с людьми, в радости сердца, при отсутствии двойственности и дуальности, это жизнь в мире, где есть только любовь. Ты готов ТАК жить?</p>

<p>Жить в «Круге Веры» - Это Путь, принимая который ты становишься частью нашей семьи, частью нашего круга Веры, ты принимаешь любовь Своего Пути и воплощаешь ее в своей жизни.</p>