<%= content_for :extra_title do %>Наши семинары - <% end %>

<h1>Наши семинары</h1>
<p class="lead">Что происходит на наших семинарах курса «Вы – Творцы» и чем они отличаются от всех других</p>

<p>На двухдневных семинарах мы вместе с вами:</p>

<ul>
  <li>учим наши клетки тела, головного мозга и энергетических тел вибрировать на более высоких частотах</li>
  <li>даем толчок сердцу и всему организму, чтобы они раскрылись в любви, в умении любить по настоящему, излучать и принимать высокие частоты вибрации</li>
  <li>преображаем причины неудач в жизни
  *создаем и воплощаем позитивные события будущего</li>
</ul>

<p><strong>Что это дает:</strong> проходит эмоциональность, уходит тревожность и страхи, преображаются обиды и негативные воспоминания прошлого, исчезают навязчивые мысли и привычка постоянно думать о чем то и беспокоиться вообще, создается состояние уверенности, умиротворения, ясности, вдохновленности.</p>

<p><strong>Что происходит в результате:</strong> налаживаются конфликтные отношения, проходят болезненные ощущения в теле, происходит оздоровление, приходят новые предложения о работе или о новых проектах в жизнь, встречаются настоящие партнеры и друзья на всю жизнь, в семью приходит гармония и любовь, раскрываются творческие способности и умение быть счастливым</p>

<p>Как это происходит:</p>

<ul>
  <li>Никаких обрядов</li>
  <li>Никаких манипуляций</li>
  <li>Никакой магии и колдовства</li>
  <li>Никаких «древних эзотерических» методик</li>
  <li>Методы работы – диалог с собой и осознанное повышение частотысвоих вибраций.</li>
</ul>

<p>На занятиях налаживается глубинный диалог с вашим Истинным Я (с Высшим Я, с Божественным Началом), согласно инструкциям ведущих в медитативной форме вы раскрываете сами свой потенциал Творца и учитесь воплощать его в жизнь. Для ясности дается теоретический материал к каждой теме, происходят обсуждения и даются практические задания для работы на занятиях и дома, каждая актуальная жизненная ситуация разбирается и практически решается.</p>

<p>Среди тем, с которыми мы работаем на занятиях:</p>

<ul>
  <li>Как выйти из сценария жизни и влияния родителей, родственников, рода</li>
  <li>Как наладить денежный поток</li>
  <li>Как найти себя в работе, бизнесе</li>
  <li>Прошлые реинкарнации и их влияние на нашу жизнь</li>
  <li>Обретение Спутника жизни</li>
  <li>Рождение и воспитание детей Нового Времени</li>
  <li>Причины нарушения здоровья и пути его полного восстановления</li>
</ul>