<!-- На ночь -->
<% content_for :title       do %>Волшебные слова на ночь - <% end %>
<% content_for :description do %>Волшебные слова и инструкции на ночь.<% end %>
<% content_for :keywords    do %>ночь сон сновидения безусловная любовь воплощение источник божественное начало творец земля матушка энергия отец мир свобода жизнь всевышний прошлое будущее настоящее<% end %>

<% content_for :header do %>
  <h2>На ночь</h2>
  <h4 class="subheader">Волшебные слова и инструкции на ночь:</h4>
<% end %>

<article class='twelve columns'>
  <section class='row'>
    <div class='content nine columns'>
      <p>Я ощущаю Безусловную Любовь к своему Божественному Началу, Я ощущаю Безусловную Любовь к своему Творцу внутри себя, Я Ощущаю Безусловную Любовь к Свободе Творца во мне.</p>

      <p>Я ощущаю Безусловную Любовь к Всевышнему Отцу Творцу, Я ощущаю Безусловную Любовь к Матушке Земле, Я ощущаю Безусловную Любовь Всевышнего Отца Творца ко мне, Я ощущаю Безусловную Любовь Матушки Земли ко мне, соединенные в моем сердце с моей Безусловной Любовью для расширения моего сознания, моего сердца и всего моего светообраза и для излучения энергий Отца Творца в этот мир.</p>

      <p>Я ощущаю Безусловную Любовь к тому, что мой Творец сделает все, чтобы быть во мне Свободным.</p>

      <p>Я ощущаю Безусловную Любовь Отца-Творца к своей «светимости изнутри».</p>

      <p>Я ощущаю Безусловную Любовь к тому, что у меня Сознание Творца во всех моих прошлых и в этой жизни. Я ощущаю Единство с Сознанием Всевышнего Творца во всех моих реинкарнациях и в этой жизни.</p>

      <p>Я ощущаю Безусловную Любовь Отца-Творца во всех своих сновидениях (перед сном).</p>

      <p>Я ощущаю Безусловную Любовь Отца-Творца во всех моих сновидениях, которые у меня были (после плохого сна).</p>
    </div>
    <%= render partial: 'activeadmin_blog/posts/sidebar', locals: { active: 4 } %>
  </section>
</article>
