<!-- Когда плохо или необходимо решить проблему -->
<% content_for :title       do %>Когда плохо или необходимо решить проблему - <% end %>
<% content_for :description do %>Волшебные слова и инструкции когда плохо или необходимо решить проблему.<% end %>
<% content_for :keywords    do %>ситуация причина проблема саморазрушение программа единство вибрации мыслеформы безусловная любовь воплощение источник божественное начало творец земля матушка энергия отец мир свобода жизнь всевышний прошлое будущее настоящее<% end %>

<% content_for :header do %>
  <h2>Когда плохо или необходимо решить проблему</h2>
  <h4 class="subheader">Волшебные слова и инструкции:</h4>
<% end %>

<article class='twelve columns'>
  <section class='row'>
    <div class='content nine columns'>
      <p>Я ощущаю Безусловную Любовь к СИТУАЦИИ (ЧЕЛОВЕКУ), Я ощущаю Безусловную Любовь СИТУАЦИИ (ЧЕЛОВЕКА) ко мне, Я ощущаю Единство Безусловной Любви Отца Творца меня и СИТУАЦИИ (ЧЕЛОВЕКА).</p>

      <p>Я ощущаю Безусловную Любовь Отца Творца в причине ПРОБЛЕМЫ (конкретно).</p>

      <p>Я ощущаю Безусловную Любовь к саморазрушению всех программ разрушения во мне. Я ощущаю Единство Безусловной Любви Отца-Творца в этом намерении.</p>

      <p>Я ощущаю Единство вибраций Безусловной Любви Отца-Творца во всех мониторах отклонения в клетках моего головного мозга.</p>

      <p>Я ощущаю Единство вибраций Безусловной Любви Отца-Творца во всей информации в моей галлограмме.</p>

      <p>Я отрекаюсь от всех этих мыслей, Я ощущаю Безусловную Любовь Отца-Творца во всех моих мыслеформах.</p>
    </div>
    <%= render partial: 'activeadmin_blog/posts/sidebar', locals: { active: 2 } %>
  </section>
</article>
