<!-- Усиление себя энергией рода и космической семьи -->
<% content_for :title       do %>Усиление себя энергией рода и космической семьи - <% end %>
<% content_for :description do %>Волшебные слова и инструкции для усиления себя энергией рода и космической семьи.<% end %>
<% content_for :keywords    do %>безусловная любовь воплощение источник божественное начало творец земля матушка энергия отец мир свобода жизнь всевышний прошлое будущее настоящее<% end %>

<% content_for :header do %>
  <h2>Усиление себя энергией рода и космической семьи</h2>
  <h4 class="subheader">Волшебные слова и инструкции:</h4>
<% end %>

<article class='twelve columns'>
  <section class='row'>
    <div class='content nine columns'>
      <p>Я ощущаю Безусловную Любовь  к моему роду в прошлой жизни, Я ощущаю Единство Безусловной Любви со своим родом в прошлой жизни.</p>

      <p>Меня к Маме (Имя)</p>

      <p>Меня к Папе (Имя)</p>

      <p>Меня к братьям и сестрам (Имя)</p>

      <p>Мамы (Имя) ко мне</p>

      <p>Папы (Имя) ко мне</p>

      <p>Братьев и сестер (Имя) ко мне</p>

      <p>Я ощущаю ЕДИНСТВО Безусловной Любви меня, мамы (Имя),</p>

      <p>папы (Имя), братьев (Имя) и сестер (Имя)</p>

      <p>Я ощущаю Единство Безусловной Любви со своей Космической Половинкой (Космическим Мужем/Женой) в этой жизни.</p>
    </div>
    <%= render partial: 'activeadmin_blog/posts/sidebar', locals: { active: 3 } %>
  </section>
</article>
