#footer {
  color:#999;
  margin-top:5em;
  
  .columns {
    font-size:.9em; 
  }

  .links {
    background:#292727;

    a:hover {
      text-decoration:underline;
      color:#fff;
    }

    .header a {
      color:#fff;
    }

    ul {
      list-style:none;

      a {
        font-size:.9em;
        color:#999;
      }
    }
  }

  .contacts {
    background:#1C1C1C;
    padding:.6em 0;

    .columns {
      line-height:24px;
    }

    a {
      color:#fff;
      display:block;
      padding-left:30px;
      opacity:0.7;

      &.skype {
        background:image-url("skype.png") no-repeat left;
      }
      &.email {
        background:image-url("email.png") no-repeat left;
      }
      &:hover {
        opacity:1;
      }
    }
  }
}

//MOBILE
@media only screen and (max-width: 767px) {
  #footer {
    .contacts {
      .columns {
        padding-bottom:0.4em;
        &:last-child {
          padding-bottom:0;
        }
      }
    }
  }
}