<footer id="footer">
  <div class="row">
  </div>

  <div class="contacts">
    <div class="row">
      <div class="four columns">© 2012 Движение «За Творца»</div>
      <div class="four columns">
        <a class="skype" href="skype:mediator-2012?call">
          mediator-2012
        </a>
      </div>
      <div class="four columns">
        <a class="email" href="mailto:contact@homospiritus.co">
          contact@homospiritus.co
        </a>
      </div>
    </div>
  </div>
</footer>