<footer class='row'>
  <div class='twelve columns'>
    <div class='copyright'>© 2012 Движение «За Творца»</div>
  </div>
</footer>

<!--
              <li><h6>Наши контакты</h6></li>
              <li><a class="skype" href="skype:<%= settings_value 'Skype' %>?call"><%= settings_value 'Skype' %></a></li>
              <li><a class="email" href="mailto:<%= settings_value 'Email' %>"><%= settings_value 'Email' %></a></li>
-->
