<footer id="footer">
  <div class="row">
  </div>

  <div class="contacts">
    <div class="row">
      <div class="four columns">© 2012 Движение «За Творца»</div>
      <div class="four columns">
        <a class="skype" href="skype:<%= settings_value 'Skype' %>?call"><%= settings_value 'Skype' %></a>
      </div>
      <div class="four columns">
        <a class="email" href="mailto:<%= settings_value 'Email' %>"><%= settings_value 'Email' %></a>
      </div>
    </div>
  </div>
</footer>