<header id="header">
  <div class="row menu">

      <div class="two columns offset-by-one">
        <div class="center-text <% if @nav == "about" %>active<% end %>">
          <a href="/" title="Движение «За Творца»">О движении</a>
          <div class="pointer"></div>
        </div>
      </div>

      <div class="two columns">
        <div class="center-text <% if @nav == "blog" %>active<% end %>">
          <a href="#" title="Материалы">Материалы</a>
          <div class="pointer"></div>
        </div>
      </div>

      <div class="two columns">
        <div class="center-text <% if @nav == "forum" %>active<% end %>">
          <a href="#" title="Проекты">Обсуждения</a>
          <div class="pointer"></div>
        </div>
      </div>

      <div class="two columns">
        <div class="center-text <% if @nav == "friends" %>active<% end %>">
          <a href="#" title="Наши друзья">Наша семья</a>
          <div class="pointer"></div>
        </div>
      </div>

      <div class="two columns end">
        <div class="center-text <% if @nav == "registration" %>active<% end %>">
          <a href="#" title="Регистрация">Регистрация</a>
          <div class="pointer"></div>
        </div>
      </div>

  </div>
</header>