<!-- Наши живые семинары -->
<% content_for :title do %>«Готов ли ты к Переходу?» - <% end %>

<% content_for :description do %>
Он-лайн семинар «Готов ли ты к Переходу?»
<% end %>

<% content_for :keywords do %>
семинар воплощение любовь вселенная миссия путь счастье жизнь
<% end %>

<% content_for :header do %>
  <h2>Готов ли ты к Переходу?</h2>
  <h4 class="subheader">Он-лайн семинар «Готов ли ты к Переходу?»</h4>
<% end %>

<article class='twelve columns'>
  <section class='row'>
    <div class='content nine columns'>
      <h5>Что такое переход?</h5>

      <p>Новый этап, конец строго, начало новго. В современном мире грядут серьезные перемены. Весь мир готовится к переходу на новый виток развития, на следующий уровень по спирали эволюции. Каждый из нас, работая над собой, духовно, осознанно помогает пройти этот этап перемен себе, близким и окружению, даже всей планете Земля гармонично наилучшим образом.</p>

      <p>Каждый вопрос, который волнует сейчас тебя и всех нас важен для осуществления перехода на этот новый этап. Так давай ответим на эти вопросы вместе и подготовим все свои тонкие и плотные тела, свои миры и чакры, свой разум и душу к серьезным изменениям в жизни, изменениям к лучшему!</p>

      <ul class='disc outside'>
        <li>Почему не складываются отношения? </li>
        <li>Почему не идет бизнес? </li>
        <li>Почему рушится семья?</li>
         <li>Почему не идут деньги? </li>
      </ul>

      <p>Сколько еще <strong>«Почему...?»</strong> вы спрашивали о жизни ?</p>

      <p>Разобраться в этих вопросах, найти на них ответы и понять - что ДЕЛАТЬ, чтобы БЫТЬ счастливым и гармоничным человеком, чтобы ИМЕТЬ именно такую жизнь, о котором мечтает сердце – поможет он-лайн семинар «Готов ли ты к Переходу?»</p>

      <h5>В результате таких занятий происходит  :</h5>
      
      <ul class='disc outside'>
        <li>Открытие дорог в жизни  </li>
        <li>Решение проблем в бизнесе  </li>
        <li>Определение своего истинного пути в жизни  </li>
        <li>Усиление финансового потока  </li>
        <li>Способность создавать спокойствия в кризисных ситуациях  </li>
        <li>Разрешение конфликтных ситуаций  </li>
        <li>Гармония тела и духа  </li>
        <li>Баланс материального и духовного  </li>
        <li>Преодоление стереотипов и негатива прошлого опыта  </li>
        <li>Свобода от ошибок и страха  </li>
        <li>Гармония семейных отношений  </li>
        <li>Оздоровление организма и нейтрализация болезней  </li>
      </ul>

      <p>Самое главное – мы будем заниматься практикой и каждый сможет задать интересующие вопросы по этой теме.</p>

      <p><strong>Ждем и будем рады встрече!</strong></p>
    </div>
    <%= render partial: 'shared/sidebar', locals: { active: 16 } %>
  </section>
</article>










