<!-- Наши живые семинары -->
<% content_for :title do %>«Мастер воплощения» - <% end %>

<% content_for :description do %>
Практический семинар «Мастер воплощения» - осознание жизненной миссии и пошаговое воплощение ее в жизнь.
<% end %>

<% content_for :keywords do %>
семинар воплощение любовь вселенная миссия путь счастье жизнь
<% end %>

<% content_for :header do %>
  <h2>Мастер воплощения</h2>
  <h4 class="subheader">Практический семинар «Мастер воплощения» - осознание жизненной миссии и пошаговое воплощение ее в жизнь.</h4>
<% end %>

<article class='twelve columns'>
  <section class='row'>
    <div class='content nine columns'>
      <blockquote>
        <p>«Идите за своей звездой, и Вселенная откроет Вам дверь там, где раньше были только стены»
        <cite>Дж. Кемпбелл</cite></p>
      </blockquote>

      <p>Ежедневно мы просыпаемся, завтракаем, приходим на работу, занимаемся делами, возвращаемся домой, ужинаем и ложимся спать. Раз за разом, круг за кругом — все монотонно и прогнозируемо. Задавались ли вы вопросом — почему так происходит? Почему вы не получаете удовольствия от жизни? Ответ прост — вы просто пока не нашли себя...</p>

      <p>Найти свой Путь и пройти его – жизненная задача каждого в этой Вселенной.</p>

      <h5>Темы семинара:</h5>

      <ul class='disc outside'>
        <li>Что такое жизненная миссия, как сформулировать ее для себя, сделать четкой, ясной и осознанной, и распространить на все аспекты нашей жизни (семью, карьеру, друзей, творчество и проч.)?</li>
        <li>Как избавиться от влияния тех, кто, зачастую из добрых побуждений, ведет нас не по нашему, а иногда и ложному пути?</li>
        <li>Как увидеть, узнать, почувствовать, понять, что идешь верно?</li>
        <li>Как выстроить свою жизнь в соответствии с самыми значимыми для нас смыслами, ценностями, принципами и целями?</li>
        <li>Как соединить духовное и материальное в жизни?</li>
        <li>Какие шаги делать каждый день, чтобы радоваться от свершения задуманного?</li>
        <li>Как преодолеть преграды и стереотипы на пути к счастью?</li>
      </ul>

      <h5>Элементы семинара:</h5>

      <ul class='disc outside'>
        <li>Техники коучинга (коучинг - метод консультирования и тренинга, отличается от классического тренинга тем, что коуч не дает советов и жестких рекомендаций, а ищет решения совместно с клиентом)</li>
        <li>Медитативные практики, ведущие к осознанию</li>
        <li>Разбор домашних заданий</li>
        <li>Режим интенсивной взаимопомощи между тренером-коучем и участниками</li>
      </ul>

      <p>Формат семинара: 10 двухчасовых занятий раз в неделю</p>

      <p><strong>Результат:</strong> Осознанное Воплощение Намерений Своего Сердца.</p>

      <%= render partial:'shared/registration_info', locals: { seminar_id: 1 } %>
    </div>
    <%= render partial: 'shared/sidebar', locals: { active: 15 } %>
  </section>
</article>










