<!-- Наши семинары -->
<% content_for :header do %>
  <h2>Наши семинары</h2>
  <h4 class="subheader">Что происходит на наших семинарах курса «Вы – Творцы» и чем они отличаются от всех других.</h4>
<% end %>

<article class='twelve columns'>
  <section class='row'>
    <div class='content nine columns'>
      <h5>На двухдневных семинарах мы вместе с вами:</h5>

      <ul class="disc outside">
        <li>учим наши клетки тела, головного мозга и энергетических тел вибрировать на более высоких частотах</li>
        <li>даем толчок сердцу и всему организму, чтобы они раскрылись в любви, в умении любить по настоящему, излучать и принимать высокие частоты вибрации</li>
        <li>преображаем причины неудач в жизни, создаем и воплощаем позитивные события будущего</li>
      </ul>

      <h5>Что это дает?</h5>

      <p>Проходит эмоциональность, уходит тревожность и страхи, преображаются обиды и негативные воспоминания прошлого, исчезают навязчивые мысли и привычка постоянно думать о чем то и беспокоиться вообще, создается состояние уверенности, умиротворения, ясности, вдохновленности.</p>

      <h5>Что происходит в результате?</h5>
      
      <p>Налаживаются конфликтные отношения, проходят болезненные ощущения в теле, происходит оздоровление, приходят новые предложения о работе или о новых проектах в жизнь, встречаются настоящие партнеры и друзья на всю жизнь, в семью приходит гармония и любовь, раскрываются творческие способности и умение быть счастливым</p>

      <h5>Как это происходит: </h5>

      <ul class="disc outside">
        <li>Никаких обрядов</li>
        <li>Никаких манипуляций</li>
        <li>Никакой магии и колдовства</li>
        <li>Никаких «древних эзотерических» методик</li>
        <li>Методы работы – диалог с собой и осознанное повышение частоты своих вибраций.</li>
      </ul>

      <p>На занятиях налаживается глубинный диалог с вашим Истинным Я (с Высшим Я, с Божественным Началом), согласно инструкциям ведущих в медитативной форме вы раскрываете сами свой потенциал Творца и учитесь воплощать его в жизнь. Для ясности дается теоретический материал к каждой теме, происходят обсуждения и даются практические задания для работы на занятиях и дома, каждая актуальная жизненная ситуация разбирается и практически решается.</p>

      <h5>Среди тем, с которыми мы работаем на занятиях:</h5>

      <ul class="disc outside">
        <li>Как выйти из сценария жизни и влияния родителей, родственников, рода</li>
        <li>Как наладить денежный поток</li>
        <li>Как найти себя в работе, бизнесе</li>
        <li>Прошлые реинкарнации и их влияние на нашу жизнь</li>
        <li>Обретение Спутника жизни</li>
        <li>Рождение и воспитание детей Нового Времени</li>
        <li>Причины нарушения здоровья и пути его полного восстановления</li>
      </ul>
    </div>
    <%= render partial: 'shared/sidebar', locals: { active: 5 } %>
  </section>
</article>

