<!-- Видео семинары он-лайн -->
<% content_for :title do %>Видео семинары он-лайн - <% end %>

<% content_for :description do %>
Видео семинары он-лайн
<% end %>

<% content_for :keywords do %>
<% end %>

<% content_for :header do %>
  <h2>Видео семинары он-лайн</h2>
  <!-- <h4 class="subheader">Что происходит на наших семинарах курса «Вы – Творцы» и чем они отличаются от всех других.</h4> -->
<% end %>

<article class='twelve columns'>
  <section class='row'>
    <div class='content nine columns'>
      <h5 id='1'>Здоровье. Красота. Бессмертие.</h5>
      <p><em>Многие из нас слышали о том, что человек может жить до 150 лет, но в современных условиях жизни это невозможно. На самом деле, потенциал здоровья и долголетия человека на столько велик, что он в состоянии прожить счастливо, ведя активный образ жизни, до 600 лет!!!</em></p>

      <p>Многие из нас слышали о том, что человек может жить до 150 лет, но в современных условиях жизни это невозможно. На самом деле, потенциал здоровья и долголетия человека на столько велик, что он в состоянии прожить счастливо, ведя активный образ жизни, до 600 лет!!!</p>

      <p>Как это сделать? Как избавиться от причин старых хронических болезней? Как предотвратить старение организма? Как убирать боль у себя и близких? Как выглядеть молодо и красиво в любом возрасте?</p>

      <p>На эти и другие темы мы пообщаемся на мастер-классе «Тайны Здоровья и Бессмертия», где кроме интересной и познавательной информации вас ждет глубокая энергетическая работа:
        <ul>
          <li>С эндокринной системой и всеми железами внутренней секреции – мы очистим и преобразуем накопленную информацию из жизни в жизнь, приводящую к болезням и старению, усталости и депрессиям </li>
          <li>Над системами головного мозга, контролирующими наши инстинкты самосохранения, выживания, долголетия и здоровья </li>
          <li>С причинами возникновения нарушений, связанных с наследственностью по роду </li>
          <li>Над намерениями других людей, желавших нездоровья или смерти</li>
        </ul>
      </p>

      <p>В результате практической работы на мастер-классе мы возродим в себе потенциал здорового, красивого долгожителя, убрав иллюзии и информационные структуры в нашем поле, мешающие нам быть «созданными по образу и подобию божественному», мы откроем в себе возможность не только жить без болезней, но и помогать близким любимым людям.</p>

      <p>Семинар предназначен для женщин и мужчин.</p>



      <h5 id='2'>Мужчина-женщина и верность</h5>
      <p><em>У каждого из нас бывали моменты, когда мы задавались вопросом – а могу ли я доверять партнеру? Многие сталкивались со страхом – а как сохранить желание быть верным долгие годы у себя и у партнера?</em></p>

      <p>У каждого из нас бывали моменты, когда мы задавались вопросом – а могу ли я доверять партнеру? Многие сталкивались со страхом – а как сохранить желание быть верным долгие годы у себя и у партнера?</p>

      <p>Часто мы слышим угрюмые и эмоциональные истории про любовные треугольники и спрашиваем себя – как избежать измены в своей жизни?</p>

      <p>Что делать, если измена уже произошла? – вопрос, который не задашь друзьям, родителям, знакомым На эти и другие вопросы в корректной и интересной форме мы пообщаемся на мастер-классе «Мужчина, Женщина и Верность».</p>

      <p>Кроме этого мы раскроем энергетическую суть верности и измены совершенно с неожиданной и уникальной стороны, в результате вы:
        <ul>
          <li>поймете, как разрешить ситуации, связанные с изменой, </li>
          <li>как предотвратить их появление в жизни, </li>
          <li>в чем причина появления третьего в отношениях, </li>
          <li>как сохранить любовь и гармонию в паре долгие годы.</li>
        </ul>
      </p>

      <p>На практике мы преобразуем «энергетические магниты», притягивающие неверность партнера: мир сексуальной энергии, ожидания, страхи, обиды, прошлый опыт, веяния моды и влияние других людей – все иллюзии и информационные структуры современности, разрушающие Единство Пары. Каждый из нас на мастер-классе создаст свое гармоничное пространство, свой мир, в котором будет присутствовать доверие и уверенность в партнере, основанное на любви.</p>

      <p>Семинар предназначен как для пар, так и для тех, кто стремиться создать пару – мужчин и женщин.</p>




      <h5 id='3'>Секреты изобилия и благосостояния</h5>
      <p><em>Современная мудрость гласит – деньги нужно уметь привлечь, принять и потратить. Как же сделать так, чтобы финансовый поток не иссякал и приносил радость и удовольствие?</em></p>
      
      <p>Как совместить творчество и финансы?  Как найти баланс между духовным и материальным?  Как зарабатывать много и много отдыхать?  Как убрать преграды своему денежному потоку?</p>
      
      <p>На мастер-классе «Секреты изобилия и благосостояния» мы с вами узнаем, как любовь вашего сердца превратить в материальный достаток, выясним, кто мешает и кто помогает в нашем окружении получать денежный поток гармонично и постоянно, осознаем и преобразуем негативные установки и убеждения, страхи и ожидания, создающие иллюзии бедности, нехватки денег, трудности с добыванием.</p>

      <p>Кроме новых знаний вас ждет серьезная энергетическая работа над собой и со своей жизнью:
        <ul>
          <li>С 4 людьми в вашем окружении, ответственными за изобилие и радость в вашей жизни</li>
          <li>С причинами неполадок в потоке изобилия в прошлых реинкарнациях и в роду</li>
          <li>С намерениями других людей на ваш финансовый поток, корыстью, завистью, властью</li>
          <li>С главной иллюзией, мешающей нам получить богатство – с иллюзией денег</li>
        </ul>
      </p>

      <p>В результате практической работы каждый из нас восстановит правильное гармоничное течение потока изобилия, денег и благосостояния, научится поддерживать свой достаток на нужном уровне, получит действующие инструменты и техники на каждый день для воплощения своего духовного потенциала в материальное благополучие.</p>

      <p>Мастер-класс предназначен для женщин и мужчин любого социального положения и достатка.</p>



      <h5 id='4'>Работа с родом. Как быть счастливым?</h5>
      <p><em>О чем мечтаете Вы – о семье, о богатстве, о доме? Чтобы воплотились ваши мечты – перестаньте жить в чужом мире, научитесь любить и принимать любовь, воплощая ее в свое счастье, озаряя близких и помогая родным силой любви своего сердца, не в ущерб и себе и им, а только во благо.</em></p>

      <p>Знаете ли вы, что только баланс родовой и духовной энергии приводит к воплощению вашей мечты? А это значит так много:
        <ul>
          <li>Принятие любви от отца и матери, прощение и отпускание обид и неудач в жизни </li>
          <li>Соединение себя со своим родом и принятие силы рода </li>
          <li>Построение своего независимого и свободного мира не на основе желаний близких, а для своего счастья – материального и семейного. </li>
          <li>Преображение повторяющихся в роду ситуаций, выход из замкнутого круга сценария рода.</li>
        </ul>
      </p>

      <p>Каждый из нас и ребенок и родитель сейчас или в будущем, и это вопросы, волнующие нас ежедневно – как быть достойным отцом/матерью, как быть любящим и заботливым ребенком, и при этом быть счастливым? Как научить ребенка с рождения быть Творцом и созидать? Как помочь взрослым родителям, которые никогда не хотят меняться, а только настаивают на своем?</p>

      <p>На эти и другие вопросы мы пообщаемся с вами на мастер-классе «Дети и Родители», главным результатом которого будет – гармония в отношениях с близкими, ясность и четкость восприятия своего жизненного сценария, владение техниками налаживания баланса родовой и духовной энергии каждый день для создания крепкой семьи и усиления бизнеса, для улучшения здоровья и раскрытия способностей.</p>

      <p>Ждем Вас на мастер-классе «Дети и Родители».</p>




      <h5 id='5'>Защита от магии и колдовства</h5>
      <p><em>Каждый из нас может вспомнить такой период в жизни, когда все получалось – правда? Этот те дни, месяцы или даже годы, когда мы были на взлете, когда встречи случались самые нужные, деньги текли в руки легко и непринужденно, а в любовных отношения был огонь и романтика – вспоминаете? Это те дни, когда вы чувствовали себя не уставшими и больными, а бодрыми и веселыми, вдохновленными и уверенными – было такое?</em></p>

      <p>Куда ушли эти дни? Можно ли вернуть себе то, состояние полета и успеха? - ОТВЕТ: «ДА!»</p>

      <p>На этом пути нам поможет:
        <ul>
          <li>Преображение намерений, манипуляций и воздействий окружающих,</li>
          <li>Преодоление «проклятий родовых и реинкарнационных»,</li>
          <li>Умение защитить себя от зависти и конкуренции,</li>
          <li>Принятие своей божественной силы и своих способностей</li>
        </ul>
      </p>
      <p>На эти и другие темы мы пообщаемся с вами на мастер-классе «Принятие своего Пути, как защититься от магии и колдовства?» Главным результатом этого мастер-класса будет практическое владение методами защиты себя и близких, преображения негатива, удержания своей энергии предназначения и радости жизненного пути.</p>

      <p>Ждем Вас!</p>

      <%= render partial:'shared/registration_info' %>
    </div>
    <%= render partial: 'shared/sidebar', locals: { active: 7 } %>
  </section>
</article>

