<!-- Школа для ведущих -->
<% content_for :title do %>Школа для ведущих - <% end %>

<% content_for :description do %>
Наша компания – это люди, объединенные единой миссией – Единство Безусловной Любви в наших сердцах. Каждый из участников нашей команды прошел серьезный жизненный путь духовности, психологической и энергетической подготовки. Мы искренне с любовью гармонично и экологично помогали, помогаем и будем помогать людям в достижении их предназначения и полноты бытия.
<% end %>

<% content_for :keywords do %>
<% end %>

<% content_for :header do %>
  <h2>Школа для ведущих</h2>
  <h4 class="subheader">Кто мы? Наша компания – это люди, объединенные единой миссией – Единство Безусловной Любви в наших сердцах. Каждый из участников нашей команды прошел серьезный жизненный путь духовности, психологической и энергетической подготовки. Мы искренне с любовью гармонично и экологично помогали, помогаем и будем помогать людям в достижении их предназначения и полноты бытия.</h4>
<% end %>

<article class='twelve columns'>
  <section class='row'>
    <div class='content nine columns'>

      <div style='text-align:center; margin:20px 0 80px;'>
        <%= image_tag 'mediator.jpg', alt: 'Медиатор' %>
      </div>
      
      <h5>Что мы делаем?</h5>
      <p>Мы проводим групповые и индивидуальные занятия, на которых помогаем людям раскрыть источник истины в их сердцах, соединиться с этой истиной, раскрыть в себе свои безграничные возможности Творца, данные нам от рождения.  </p>

      <h5>Как мы это делаем?</h5>
      <p>На наших групповых и индивидуальных занятиях мы обращаемся напрямую к Творцу, минуя все преграды и границы между национальностями, религиями, взглядами, мы соединяем энергетические потоки безусловной любви Земли и Космоса с энергиями всех стихий и глубинной энергией жизни каждого человека, пробуждая в человеке энергию Творца.  </p>

      <h5>Зачем мы это делаем?</h5>
      <p>Каждый современный человек на Земле замечает неизбежные изменения и необходимость прохождения этих изменений на пути эволюции своего сознания и всего человечества, мировые события и ситуации в жизни любого жителя нашей планеты схожи друг с другом и ведут к единой задаче – освобождение от оков старого мировоззрения, ошибок прошлого, наработанного веками и тысячелетиями, очищение энергетических и физиологических структур человека и планеты. Многих на этом пути подстигают вопросы и сложности, которых можно избежать, некоторым нужно ощущать поддержку единомышленников и окружения, кому то нужен наставник, ментор, психолог или специалист по энергетике. Именно за этим мы здесь. Для того, чтобы путь каждого человека по линии своей эволюции стал легким, гармоничным, ясным и понятным, чтобы этот путь и изменения на этом пути у каждого происходили наилучшим образом во благо себе и окружающим.  </p>

      <p>Кто те люди, которым мы можем помочь? – Это и мужчины и женщины, это супружеские пары и дети, это управляющие крупных корпораций и наемные служащие, это люди творческих и прочих профессий, и студенты, это люди, стремящиеся понять себя, найти себя, осознать свое предназначение и воплотить его в жизнь с любовью и удовольствием.</p>

      <p>Если ты хочешь стать ведущим семинаров и медитации, используя техники, методики, которыми мы делимся на наших занятиях – <strong>БУДЕМ РАДЫ!</strong></p>

      <p>На этой странице будет размещено расписание занятий для ведущих семинаров.</p>      
    </div>
    <%= render partial: 'shared/sidebar', locals: { active: 5 } %>
  </section>
</article>

