<!-- Структуры медиатор групп -->
<% content_for :header do %>
  <h2>Структуры медиатор групп</h2>
  <h4 class="subheader">Наша Команда Центра Целостного Развития «Медиатор» предлагает </h4>
<% end %>

<article class='twelve columns'>
  <section class='row'>
    <div class='content nine columns'>
      <p>Уникальное, не имеющее аналогов, мероприятие для групп – медиаторство! Это эволюция стандартного тренинга или семинара, в результате прохождения медиатор-групп у участников происходят реальные изменения в жизни в личной или семейной, духовной или социальной,в творческой или бизнес среде в зависимости от темы каждой группы и запроса участника. Эффективность нашей работы подтверждена результатами наших участников из разных городов России в их отзывах.</p>

      <p><strong>Медиаторство</strong> – это уникальный авторский метод работы с группой, позволяющий гармонично для сознания и души, психики и энергетики участников достичь правильных результатов каждого путем раскрытия истинности желаний и глубинной сути проблем на энергетическом уровне, на медиатор-группах у участников происходит соединение с истинным собой на самом высшем уровне восприятия, происходит естественное очищение и избавление от ложных ценностей, от негативных информационных и энергетических элементов, тем самым достигается состояние раскрытия своего ресурса и потенциала, заложенного в нас Создателем и Природой.</p>

      <h6>Отличительными чертами нашей работы с группами и индивидуально являются: </h6>

      <ul class="disc outside">
        <li>Простота и Ясность</li>
        <li>Целостность и Единство</li>
        <li>Духовность и Экологичность</li>
        <li>Профессионализм и Опыт</li>
      </ul>

      <p>В наборе предложенных тем вы найдете именно то, что заинтересует Вас, разнообразие тем мы объединили в следующую структуру:<p>
      
      <p>мы предлагаем темы как для опытного пользователя, для мужчин и женщин, которые давно занимаются собой и проходили различные группы, так и семинары для тех, кто только начал свой путь.</p>
      
      <p>Каждый их предложенных семинаров ведется с использованием методик медиаторства, поэтому является высокорезультативным и уникальным, по времени занимает от 2х часов до 2 до 3х дней.</p>
    </div>
    <%= render partial: 'shared/sidebar', locals: { active: 6 } %>
  </section>
</article>
