<!-- Ежедневные утренние медитации он-лайн -->
<% content_for :title do %>Ежедневные утренние медитации он-лайн - <% end %>

<% content_for :description do %>
ПРИГЛАШАЕМ на регулярную утреннюю программу   «СоТворение Будущего!»  
<% end %>

<% content_for :keywords do %>
жизнь любовь воплощение источник семинары результат человек медитация утро
<% end %>

<% content_for :header do %>
  <h2>Ежедневные утренние медитации он-лайн</h2>
  <h4 class="subheader">Просыпаясь утром часто мы чувствуем тяжесть и дискомфорт, избавиться от которого особенно важно перед началом рабочего дня! Ведь всем известно: «Как начнешь день – ТАК его и проведешь!»</h4>
<% end %>

<article class='twelve columns'>
  <section class='row'>
    <div class='content nine columns'>
      <p><strong>ПРИГЛАШАЕМ</strong> на регулярную утреннюю программу   <strong>«СоТворение Будущего!»  </strong></p>

      <p>Что это такое и что Вас ожидает:  
        <ul class='disc outside'>
          <li>утренняя медитация «Пробуждение»  </li>
          <li>специальные упражнения на освобождение тела от зажимов, блоков и оков сна и направленные на раскрытие всех энергетических каналов  </li>
          <li>очищение от негатива прошлого  </li>
          <li>раскрытие своего энергетического, творческого потенциала  </li>
        </ul>
      </p>

      <p>Что вы получаете в результате:  
        <ul class='disc outside'>
          <li>Заряд хорошего, бодрого настроения на весь день </li>
          <li>Освобождение от творимой и родовой кармы путем ее преображения </li>
          <li>Ясность сознания и спокойствие духа </li>
          <li>Профилактику стресса и защиту от негативных ситуаций будущего </li>
        </ul>
      </p>

      <h5>Как это происходит</h5>
      <p>Первые 10 минут – приветствие и физическая разминка, далее 45 минут – медитация на очищение от негативной информации ночи и прошлого дня, сотворение дня грядущего, 5 минут – обсуждение и вопросы.  </p>

      <p>Длительность - 1 час, СТОИМОСТЬ – <strong>БЕСПЛАТНО  </strong>.

      <p><strong>ЗАПИСЬ ОБЯЗАТЕЛЬНА</strong></p>

        <p>Занятия проводятся по:
        <ul class='disc outside'>
            <li>понедельникам</li>
          <li>  вторникам</li>
          <li>  четвергам  </li>
          <li>и пятницам  </li>
        </ul>
      </p>

      <p><strong>НАЧАЛО</strong> в 7:30 московского времени.</p>

      <p><em>Принимаются заявки и пожелания о времени начала групп от желающих из городов других часовых поясов.</em></p>

      <p>Среди тем, над которыми мы будем работать по утрам:
        <ul class='disc outside'>
          <li>Чакры и Тела. Очищение, гармонизация после сна.</li>
          <li>Миры и Формы. Преображение накопленной информации прошлого.</li>
          <li>Намерения и Помощь. Создание благотворных намерений на будущее и принятие поддержки от помощников.</li>
          <li>Отношения и Изобилие. Единение с потоками своего изобилия и любви близких, воплощение своего счастья и предназначения.</li>
        </ul>
      </p>

      <%= render partial:'shared/registration_info', locals: { seminar_id: 0 } %>
    </div>
    <%= render partial: 'shared/sidebar', locals: { active: 13 } %>
  </section>
</article>



