<!-- «Звездная половинка» -->
<% content_for :title do %>«Звездная половинка» - <% end %>

<% content_for :description do %>
Он-лайн семинар «Звездная половинка» - встретить и узнать!
<% end %>

<% content_for :keywords do %>
семинар воплощение любовь вселенная миссия путь счастье жизнь
<% end %>

<% content_for :header do %>
  <h2>Звездная половинка</h2>
  <h4 class="subheader">Звездная половинка – встретить и узнать!</h4>
<% end %>

<article class='twelve columns'>
  <section class='row'>
    <div class='content nine columns'>
      <p>Многие из нас, даже становясь "реалистичными" и "циничными", втайне мечтают однажды встретить того самого принца или ту самую принцессу,того самого человека, о котором мечтал в детстве, нежное ожидание которого хранил в юности.Интуитивно мы чувствуем, что именно с таким человеком, возможна настоящая гармония и настоящее счастье, и поэтому ждем именно "своего" человека.  И многие из нас даже не подозревают, что уже встречали или даже находятся рядом со своей половинкой, но не смогли ее узнать... </p>

      <p>Освоить глубинные законы любви, обрести расширенное понимание принципов взаимодействия мужской и женской энергии в паре и в реальной жизни, научиться использовать совместную энергию пары для изменения реальности во всех ее проявлениях – вот задача этого семинара.</p>
    </div>
    <%= render partial: 'shared/sidebar', locals: { active: 17 } %>
  </section>
</article>










