<!-- Для фирм -->
<% content_for :header do %>
  <h2>Предложения для фирм</h2>
  <!--<h4 class="subheader">Что происходит на наших семинарах курса «Вы – Творцы» и чем они отличаются от всех других.</h4>-->
<% end %>

<article class='twelve columns'>
  <section class='row'>
    <div class='content nine columns'>
      <p>В кризисных и посткризисных условиях, когда конкурентное преимущество особенно важно в вашей компании, к каким ресурсам вы прибегаете, чтобы повысить эффективность работы предприятия? Чтобы сохранить талантливых сотрудников? Чтобы вдохновлять, мотивировать и стимулировать на долгие, плодотворные и лояльные отношения с компанией? Чтобы создать настоящую команду, которая приведет компанию к истинному успеху не единожды, а в долгосрочном периоде? Чтобы повысить прибыльность компании не экстенсивным, а интенсивным путем? Чтобы создать компанию на века и оставить наследие? Чтобы работа предприятия приносила удовольствие каждый день, а не усталость? Чтобы совершить не революцию, не инволюцию, а эволюцию вашего корпоративного организма наилучшим образом гармонично для владельцев, управляющих, сотрудников и окружающих?</p>

      <p>Множество вариантов стимулирования персонала доступно сейчас каждому предприятию – финансовое стимулирование, методы кнута и пряника, тренинги и семинары, корпоративные мероприятия... Вы перепробовали все? Исчерпали человеческий ресурс во время кризиса? Что еще вы можете сделать, чтобы восстновить былую мощь или  выйти на передовую?  Спросите себя – что реально работает? Есть только один ответ на этот вопрос.</p>

      <p>Только истинная духовность спасет сейчас современное предприятие. А что это значит? Для начала необходимо избавиться от негативности прошлого опыта, особенно неприятного в кризисные времена, от последствий натянутых отношений в коллективе, от воспоминаний о финансовых трудностях, от страхов повторения прошлых ошибок и провала. Затем необходимо в обновленный очищенный сосуд вашего бизнеса вдохнуть новую жизнь уверенности и вдохновения, наполнить его позитивной энергией от осознания неизбежности новых успехов и свершений, пропитать его стойким ароматом осмысленности и соединенности целей и ценностей каждого сотрудника с ценностями и задачами компании в целом. Как это делается-спросите вы?</p>

      <p>Уникальная программа «Источник Свободы и Успеха» для корпоратов с пред-програмным и пост-програмным индивидуальным сопровождением позволит вам:</p>

      <ul class="disc outside">
        <li>Увидеть корень проблем вашего предприятия и найти пути их решения</li>
        <li>Определить эффективные направления развития старых и новых направлений в бизнесе</li>
        <li>Разрешить вопросы с мотивацией и отбором персонала раз и на всегда</li>
        <li>Избавиться от стрессов и достичь состояния кофортного баланса взаимодействия себя и всех звеньев компании</li>
      </ul>

      <p>Методы работы: групповые и индивидуальные сессии, основанные как на современных передовых подходах коучинга, психологического консалтинга, так и на авторских методиках, основанных на опыте и уникальных способностях наших ведущих специалистов. Данная услуга является эксклюзивной на рынке и позволяет гарантировано приобрести конкурентное преимущество. Более подробная информация представляется при индивидуальной беседе.</p>
    </div>
    <%= render partial: 'shared/sidebar', locals: { active: 11 } %>
  </section>
</article>