<!-- Сотрудничество -->
<% content_for :header do %>
  <h2>Сотрудничество</h2>
  <!--<h4 class="subheader">Что происходит на наших семинарах курса «Вы – Творцы» и чем они отличаются от всех других.</h4>-->
<% end %>

<article class='twelve columns'>
  <section class='row'>
    <div class='content nine columns'>
      <p>Если вы видите какие либо варианты нашего совместного творчества и работы:</p>

      <ul class="disc outside">
        <li>Хотите стать ведущим семинаров</li>
        <li>Хотите стать организатором</li>
        <li>Хотите получить помощь или консультацию как частное лицо или фирма</li>
        <li>Хотите предложить свои услуги нам</li>
      </ul>

      <p>Мы всегда рады новым друзьям и соратникам!</p>

      <p>Пройдите <%= link_to "Регистрацию", new_user_registration_path %> и опишите ваше видение, также вы можете ознакомиться с программой семинаров для повышения Успешности Компании и с предложением для ведущих семинаров.</p>
    </div>
    <%= render partial: 'shared/sidebar', locals: { active: 9 } %>
  </section>
</article>