<!-- Движение -->
<% content_for :description do %>БЫТЬ ТВОРЦОМ - это реальное движение, это воплощение реальных действий каждого человека, который создает новый стиль жизни для себя и своих близких. Быть Творцом - это стиль жизни, когда Любовь творит через тебя.<% end %>
<% content_for :keywords    do %>безусловная любовь воплощение источник божественное начало творец энергия отец мир свобода всевышний движение семья человек<% end %>

<% content_for :header do %>
  <h2>Движение «За Творца»</h2>
  <h4 class="subheader">Здравствуй, Друг.<br/>Позволь спросить тебя - Хочешь ли ты быть ТВОРЦОМ своей жизни?</h4>
<% end %>

<article class='twelve columns'>
  <section class='row'>
    <div class='content nine columns'>
      <p>Да? А Знаешь ли ты, что БЫТЬ ТВОРЦОМ - это реальное движение, это воплощение реальных действий каждого человека, который создает новый стиль жизни для себя и своих близких.</p>

      <h5>Быть Творцом - творить через Любовь</h5>
      
      <p>Быть Творцом - это стиль жизни, когда Любовь творит через тебя. Этот стиль жизни основан на вопросах:</p>
      
      <ul class="disc outside">
        <li><em>Готов ли ты воплощать любовь своего сердца в реальной жизни????</em></li>
        <li><em>Готов ли ты достигнуть успеха в работе, идя по зову своего сердца?</em></li>
        <li><em>Готов ли ты создать пару с партнером, основанную на любви и единстве?</em></li>
        <li><em>Готов ли ты построить свой мир таким, о котором всегда мечтала твоя душа?</em></li>
        <li><em>И главное – готов ли ты поверить в ЛЮБОВЬ и в Творца в Себе?</em></li>
      </ul>

      <p>Мы – те, кто идет именно этим путем. Присоединяйся!</p>

      <h5>Любовь в человеке</h5>

      <p>Воплощение нового стиля жизни «Мы - Творцы» направлено на возрождение и пробуждение духовности, осознанности, любви в человеке, свободу Любви Создателя в каждом из нас.</p>

      <p>Стиль жизни при котором каждому из нас дан шанс БЫТЬ ТВОРЦОМ и жить в СВОБОДЕ ЛЮБВИ. Каждый из нас - ЧЕЛОВЕК ДУХОВНЫЙ (homospiritus) является частью любви Создателя и только СВОБОДА ЛЮБВИ в человеке раскрывает ТВОРЦА.</p>

      <p>Эта любовь Творца проявляется в каждом дне жизни ТВОРЦА, в его поведении, в его общении с близкими, в построении отношений и семьи, эта любовь так же проявляется на работе во взаимодействии с коллегами, в помощи нуждающимся, в воплощении своего предназначения, в реализации своей идеи.</p>

      <p>Стиль жизни «Мы – Творцы» - это ДВИЖЕНИЕ, которое означает ДЕЙСТВИЕ и ВОПЛОЩЕНИЕ.</p>

      <p>И если ты ответил да на все вопросы и намерен действовать,  ДОБРО ПОЖАЛОВАТЬ  на наш сайт, в нашу команду, в нашу семью!</p>

      <p><%= link_to "Регистрация",  new_user_registration_path, class:'button', style:'width:100%; margin-top:3em;' %></p>
    </div>
    <%= render partial: 'shared/sidebar', locals: { active: 1 } %>
  </section>
</article>

