<!-- Движение -->
<% content_for :description do %>
БЫТЬ ТВОРЦОМ - это реальное движение, это воплощение реальных действий каждого человека, который создает новый стиль жизни для себя и своих близких. Быть Творцом - это стиль жизни, когда Любовь творит через тебя.
<% end %>

<% content_for :keywords do %>
безусловная любовь воплощение источник божественное начало творец энергия отец мир свобода всевышний движение семья человек<
<% end %>

<% content_for :header do %>
  <h2>Стиль жизни – Любовь</h2>
  <h4 class="subheader">Здравствуй, Друг.<br/>Позволь спросить тебя - хочешь ли ты быть ТВОРЦОМ своей жизни?</h4>
<% end %>

<article class='twelve columns'>
  <section class='row'>
    <div class='content nine columns'>
      <p>"Да? А Знаешь ли ты, что БЫТЬ ТВОРЦОМ - это реальное движение,это воплощение реальных действий каждого человека, который создает новый стиль жизни для себя и своих близких.</p>

      <p>Быть ТВОРЦОМ – это Стиль Жизни, основанный на вопросах:
      <ul>
        <li>Готов ли ты воплощать любовь своего сердца в реальной жизни????</li>
        <li>Готов ли ты достигнуть успеха в работе, идя по зову своего сердца?</li>
        <li>Готов ли ты создать пару с партнером, основанную на любви и единстве?</li>
        <li>Готов ли ты построить свой мир таким, о котором всегда мечтала твоя душа?</li>
        <li>И главное – готов ли ты поверить в ЛЮБОВЬ и в Творца в Себе?</li>
      </ul>
      </p>
      
      <p>Мы – те, кто идет именно этим путем.</p>

      <p><strong>Homo Spiritus</strong> – <strong>Человек Духовный</strong>, это новый этап эволюции человека, на пороге которого находится каждый из нас. Ключ к переходу на эту новую ступень  развития – это любовь. Это  не иллюзорная  любовь, которой нас учит прошлое, родители , сми, окружение. Это истинная <strong>БЕЗУСЛОВНАЯ ЛЮБОВЬ</strong>, которая является <strong>СТИЛЕМ ЖИЗНИ</strong>, которая воплощается человеком в каждой сфере жизни в изобилие, гармонию, здоровье и творчество. Человек, который умеет воплощать <strong>БЕЗУСЛОВНУЮ ЛЮБОВЬ</strong> в Творения своей жизни –  <strong>ТВОРЕЦ</strong>.</p>

      <p>Мы уже так живем, и здесь на этом сайте делимся своим опытом, практиками, рекомендациями о том, как <strong>СТАТЬ ТВОРЦОМ</strong> своей жизни, как воплотить <strong>СТИЛЬ ЖИЗНИ-ЛЮБОВЬ</strong> в реальность.</p>
      
      <p>Воплощение нового СТИЛЯ ЖИЗНИ-ЛЮБОВЬ направлено на возрождение и пробуждение духовности, осознанности, любви в человеке.</p>

      <p>Стиль жизни, при котором каждому из нас дан шанс с рождения БЫТЬ ТВОРЦОМ. Этот шанс дан нам, чтобы каждый смог проявить себя и свободу себя в выражении своей любви, Любви ТВОРЦА.</p>

      <p>Эта любовь Творца проявляется в каждом дне жизни ТВОРЦА, в его поведении, в его общении с близкими, в построении отношений и семьи, эта любовь так же проявляется на работе во взаимодействии с коллегами, в помощи нуждающимся, в воплощении своего предназначения, в реализации своей идеи.</p>

      <p>Стиль жизни- любовь - это ДВИЖЕНИЕ, которое означает ДЕЙСТВИЕ и ВОПЛОЩЕНИЕ.</p>

      <p>И если ты ответил да на все вопросы и намерен действовать, ДОБРО ПОЖАЛОВАТЬ на наш сайт, в нашу команду, в нашу семью!</p>

    </div>

    <%= render partial: 'shared/sidebar', locals: { active: 1 } %>
  </section>
</article>

