<!-- Круг веры -->
<% content_for :header do %>
  <h2>Круг веры</h2>
  <h4 class="subheader">«Круг Веры» - это круг людей активно живущих по принципам движения «За Творца» и активно участвующих в деятельности движения.</h4>
<% end %>

<article class='twelve columns'>
  <section class='row'>
    <div class=' content nine columns'>
      <h5>Что это дает?</h5>

      <p>Возрождение истинной Веры в Любовь повсеместно, воплощение Веры в Любовь во всех сферах жизни.</p>
      <p>При этом ты уже понимаешь, что такое любовь? Это не просто цветочки и бабочки, лирика и романтика, это реальная движущая сила Вселенной, это энергия всего Мироздания, это то, из чего все создано.</p>
      <p>Познание Любви в воплощении, в реализации ее в жизни дает тебе познание Начала, это дает тебе и людям вокруг тебя ДВИЖЕНИЕ ВПЕРЕД, это дает ЖИЗНЬ, а не просто существование.</p>

      <p>Если есть энергия любви, энергия Бога, то это дает движение вперед во всем и при этом ты создаешь и усиливаешь единство материального и духовного, это единство дает полноту Бытия, полноту твоей реальной жизни в изобилии материального мира, в наполненности отношений с людьми, в радости сердца, при отсутствии двойственности и дуальности, это жизнь в мире, где есть только любовь. Ты готов ТАК жить?</p>

      <p>Жить в «Круге Веры» - это Путь, принимая который ты становишься частью нашей семьи, частью нашего круга Веры, ты принимаешь любовь Своего Пути и воплощаешь ее в своей жизни.</p>
    </div>
    <%= render partial: 'shared/sidebar', locals: { active: 3 } %>
  </section>
</article>