<!-- Круг веры -->
<% content_for :title do %>Круг веры - <% end %>

<% content_for :description do %>
«Круг Веры» - это круг людей активно живущих по принципам движения «За Творца» и активно участвующих в деятельности движения.
<% end %>

<% content_for :keywords do %>
<% end %>

<% content_for :header do %>
  <h2>Круг веры</h2>
  <h4 class="subheader">«Круг Веры» - это круг людей активно живущих по принципам движения «За Творца» и активно участвующих в деятельности движения.</h4>
<% end %>

<article class='twelve columns'>
  <section class='row'>
    <div class=' content nine columns'>
      <p><strong>«Круг Веры»</strong> - это круг людей из разных городов, прошедших семинары и активно в своей жизни воплощающих то,чему они научились на этих семинарах. Мы объединяемся все вместе и находим пути воплощения единой безусловной любви в своих жизнях, жизнях близких, в обществе. Мы делаем это через то,что каждый из нах хорошо умеет или любит делать. Воплощая свое предназначение, мы объединяем свои намерения и действия, усиливая каждый друг друга, поддерживая и вдохновляя.</p>
 
      <p>Направления деятельности:
        <ul class='disc outside'>
          <li>Единый центр русской духовности</li>
          <li>Совместные и марафонные медитации в разных точках мира</li>
          <li>Детские садики и школы нового поколения</li>
          <li>Единый интернет-центр по обмену опытом прохождения пути</li>
          <li>Центры духовных практик в местах силы</li>
          <li>Просвещение и донесение знаний людям</li>
          <li>Благотворительные эко-проекты по поддержке земли</li>
          <li>Творческие мастерские и школы ремесел</li>
          <li>Создание брошюр и других материалов</li>
          <li>Картины, стихи и другое творчество</li>
          <li>Медитации и практики в движении и в танце</li>
          <li>Информационные центры в городах</li>
          <li>Школа учителей для тех, кто работает с людьми</li>
          <li>Исследовательский центр духовности и истинной истории</li>
          <li>Хронология истинной истории</li>
          <li>Семейные центры</li>
          <li>Форумы и фестивали для взрослых и подростков</li>
          <li>Выставки</li>
          <li>Интерактивный музей</li>
          <li>Проведение благотворительных семинаров</li>
          <li>Приюты и детские дома, помощь и проведение программ</li>
          <li>Антикризисные центры</li>
          <li>Передачи по радио и тв</li>
          <li>Единая база людей духовной семьи</li>
          <li>Популяризация природных мест</li>
          <li>Мультики и фильмы</li>
          <li>Танцевальные и спортивные школы</li>
          <li>Центры досуга</li>
          <li>Донесение новых знаний до правительства и крупного бизнеса, поднятие экономики страны</li>
          <li>Как найти путь взаимодействия с людьми, работающими на заводах и фабриках?</li>
          <li>Как присоединить свою семью к этой идее?</li>
          <li>Финансовое образование по новому</li>
          <li>Роддом нового поколения</li>
          <li>Как убрать разделение между людьми по социальному статусу?</li>
          <li>Хранители традиций, хранители рода</li>
          <li>Улучшение вида своего города</li>
          <li>Создание площадок для представления новых идей и проектов</li>
          <li>Природоведение, очищение от мусора</li>
          <li>Совместный фруктовый сад</li>
        </ul>
      </p>

      <h5>Что это дает?</h5>

      <p>Возрождение истинной Веры в Любовь повсеместно, воплощение Веры в Любовь во всех сферах жизни.</p>
      <p>При этом ты уже понимаешь, что такое любовь? Это не просто цветочки и бабочки, лирика и романтика, это реальная движущая сила Вселенной, это энергия всего Мироздания, это то, из чего все создано.</p>
      <p>Познание Любви в воплощении, в реализации ее в жизни дает тебе познание Начала, это дает тебе и людям вокруг тебя ДВИЖЕНИЕ ВПЕРЕД, это дает ЖИЗНЬ, а не просто существование.</p>

      <p>Если есть энергия любви, энергия Бога, то это дает движение вперед во всем и при этом ты создаешь и усиливаешь единство материального и духовного, это единство дает полноту Бытия, полноту твоей реальной жизни в изобилии материального мира, в наполненности отношений с людьми, в радости сердца, при отсутствии двойственности и дуальности, это жизнь в мире, где есть только любовь. Ты готов ТАК жить?</p>

      <p>Жить в «Круге Веры» - это Путь, принимая который ты становишься частью нашей семьи, частью нашего круга Веры, ты принимаешь любовь Своего Пути и воплощаешь ее в своей жизни.</p>
    </div>
    <%= render partial: 'shared/sidebar', locals: { active: 3 } %>
  </section>
</article>