<!-- Кто мы -->
<% content_for :title do %>Кто мы и зачем мы - <% end %>

<% content_for :description do %>
Мы – команда, мы – семья, мы-профессионалы, одухотворенные, интересные, современные люди, идущие вперед времени.
<% end %>

<% content_for :keywords do %>
жизнь любовь воплощение источник семинары отзывы результат человек миссия
<% end %>

<% content_for :header do %>
  <h2>Кто мы и зачем мы</h2>
  <h4 class="subheader">Мы – команда, мы – семья, мы-профессионалы, одухотворенные, интересные, современные люди, идущие вперед времени.</h4>
<% end %>

<article class='twelve columns'>
  <section class='row'>
    <div class='content nine columns'>
      <p>Мы не хотим давать общие фразы, мы хотим чтобы вы почувствовали результат.<br/>
      Наша Цель - Воплощение Любви в Жизни.<br/>
      Наши Задачи – Научиться Воплощать Любовь, Помочь Раскрыть Источник Любви в каждом Человеке.<br/>
      Наша Миссия – Любовь ради Любви.</p>

      <p><%= link_to 'Подробнее о нас', shkola_vedushih_path %></p>
      <h4>Отзывы о наших семинарах</h4>

      <h5>ВЫ - Творцы 1</h5>

      <p><strong>Ева</strong><br/>
        Я умерла и родилась заново! Шок, потрясающе, радость, ощущение покоя. Очень жду следующего курса.</p>

      <p><strong>Наталья</strong><br/>
        Очень полезные знания, много нового и интересного. Огромное спасибо, открылись новые горизонты.</p>

      <p><strong>Юлия</strong><br/>
        Мне стало очень спокойно и хорошо внутри. Стало легче дышать, чувствуется, что ушло много плохого. Отдохнула на медитации. Конечно, еще не совсем понятно, как дальше с этим жить, но уверена, что все будет замечательно. Спасибо Вам Огромное!</p>
      
      <p><strong>Юрий</strong><br/>
        Первое прикосновение к очень большому.</p>

      <p><strong>Наталья</strong><br/>
        Я в шоке! ))) Я ощущаю безусловную любовь ко всему, что было на занятии!</p>
      
      <p><strong>Анна</strong><br/>
        Мне очень понравилось! Большое спасибо. Я именно это искала всю свою жизнь. Очень прошу, приезжайте еще! Рада встречи, знакомству. Спасибо за все. Вы делаете очень важные вещи. Вы уникальная пара. Успехов вам. Я вас люблю!!!!!</p>

      <p><strong>Сергей</strong><br/>
        Продуктивная работа над собой, над своими мышлением и мыслями к окружающему миру.</p>

      <p><strong>Татьяна</strong><br/>
        Очень мощные ведущие, дают интересную и полезную информацию. Но для меня немного перегружено информацией, сложно воспринять всё в полном объёме, а очень хочется!!! Спасибо!!! Вы делаете очень нужную и полезную работу!!!! Надеюсь на новую встречу с Вами!</p>

      <p><strong>Игорь</strong><br/>
        Очень мощные ощущения от потоков энергии, соединение с творцом в себе поразило до слёз.</p>

      <p><strong>Вера</strong><br/>
        Открытость сердца, светлость души, осознание своего совершенства – это СВОБОДА!  УРА!!!!  Я ощущаю уравновешенность и какое-то блаженство...  Невероятно, вся сила внутри меня – я счастлива, что ко мне пришло это осознание. Я люблю себя и этот мир безусловной ЛЮБОВЬЮ!!! Ребята, продолжайте нести свет в эту жизнь!</p>

      <p><strong>Ольга</strong><br/>
        Получила ответы на свои вопросы, пообщалась в удовольствие с ведущими, на понятном и родном для меня языке. Для меня всё с пользой!!</p>

      <p><strong>Юлия</strong><br/>
        Открывается совершенно новый мир, где-то теряешь почву под ногами, думаешь, что мне делать дальше? Но ответ есть, надо работать, любить, накапливать энергию и излучать. Все Отлично! БОЛЬШОЕ ВАМ СПАСИБО!!! P.S. Очень понравилась медитация, хочется повторить.</p>

      <p><strong>Алена</strong><br/>
        Это то, чего ждала и к чему очень долго шла. Огромная благодарность. Открыта для любой информации от вас.</p>

      <p><strong>Юлия</strong><br/>
        Я солнце, он солнце, мы солнце <br/>
        вместе сжигаем тараканов все мощней </br>
        я солнце, ты солнце, мы солнце <br/>
        паяльные лампы день ото дня сильней  <br/><br/>
        и растворяются миры, уходит боль и страх <br/>
        уползает колбаса, и расправляешь крылья ты <br/>
        и вот живешь в новых ты мирах <br/>
        полных света красоты  <br/><br/>
        я солнце ты солнце мы солнце <br/>
        золотой кокон сплетаем вкруг земли <br/>
        я солнце ты солнце мы солнце <br/>
        вставай и ты, чтобы любить вместе мы могли!</p>

      <p><strong>Надежда</strong><br/>
        Первый день  занятий мной был пропущен, поэтому очень хочется встретиться еще раз и прослушать полный курс. Информация нужная и интересная.</p>

      <p><strong>Ольга</strong><br/>
        Так много всего! Курс о самом главном – о ЛЮБВИ! Глубоко, жизненно и легко! Наша душа стремится к любви и везде ее ищет. Но наши представления о любви все время нам подсовывают суррогат. Мы думаем, что любовь это бурные эмоции, страсть, крики, безумная радость когда любимый рядом, невыносимые страдания когда его нет... Но душа знает, что все это неправда и продолжает искать... И сложность в том, что никто не может объяснить что же это? Как ее узнать? Как почувствовать? Никакие слова не могут передать это удивительное ощущение! А на курсе можно почувствовать! И теперь ты это точно знаешь! Через ощущение!  И вы дали это попробовать, прочувствовать.</p>

      <p><strong>Ольга, 35 лет</strong><br/>
        Что для меня было ценным и важным – это понять, что любовь действительно существует, понять на сколько это большая сила. Проснувшись утром, ощутить позитивные изменения. Получить необходимые знания и понять, что я могу изменить свою жизнь сама, изменить в лучшую сторону. До прихода на тренинг я не верила в любовь, вернее потеряла веру в нее. А сейчас верю! Очень хочется попасть на следующий тренинг, и очень хочется с вашей помощью развиваться и учиться дальше. Вам желаю любви! И хочу, чтоб у вас все получалось!<p>

      <p><strong>Катерина, 29 лет</strong><br/>
        Самым ценным и важным для меня было осознание, что во мне есть все необходимое для того, чтобы сделать свою жизнь лучше. Для меня особенно важной была медитация первого дня, когда я на полную мощь раскрыла свое сердце и почувствовала своего космического мужчину.</p>

      <p><strong>Наталия, 40 лет</strong><br/>
        Самое ценное и важное, наверное, то, что я получила ответ на свой вопрос - что мне делать со своим мужчиной. Полюбить себя, хотя я думала, что у меня с этим нет проблем. Полюбить своего мужчину, дать ему огромную порцию любви, и ситуация сама разрешится. Он не отпускает меня, как бы говоря «Куда ты? Ты не научилась давать свою любовь мне, а тебе нужен уже другой. Вначале открой свое сердце и я отпущу тебя». Пожелания вам у меня самые искренние – любви и удачи! Помогите нам создать группу в Перми, которая встречалась бы между вашими тренингами и поддерживала друг-друга, научите нас, вернее.</p>

      <p><strong>Ирина, 43 года</strong><br/>
        Благодарю. Практически показали, что такое любить, как это. Все только пишут об этом и говорят. Больших и благодарных вам аудиторий!</p>

      <p><strong>Наталия, 39 лет</strong><br/>
        Я узнала, что я не умела принимать любовь и любить, узнала, что мой покойный муж меня любит и поддерживает, я ощутила и приняла его любовь. Немного поняла для себя, что такое медитация, прочувствовала некоторые уровни. После тренинга, придя домой, я уже увидела перемены с сыном. Повысилась (укрепилась) вера в себя и в силу своей любви. Жду следующего тренинга!</p>

      <p><strong>Татьяна, 37 лет</strong><br/>
        Для меня важным было то, что я узнала какой огромной силой обладает любовь, что очень важно быть источником любви, излучать любовь. И однако не менее важно уметь принимать любовь. Оказывается любовь не знает границ, только в мире огромной любви могут происходить удивительные вещи. Мне понравилось Все!</p>

      <p><strong>Татьяна, 24 года</strong><br/>
        Я поняла и ощутила любовь и мысли сердцем. Поняла, что есть и другая жизнь: красивая и счастливая! Оказывается - проблем нет, есть их сотворение. Обязательно приезжайте еще и не один раз! Будьте всегда!</p>

      <p><strong>Наташа, 36 лет</strong><br/>
        Для меня было самым ценным, что я узнала истину любви. Как строить и защищать свой мир, и узнала много нового и полезного для себя и своих близких. Приезжайте и продолжайте свое благое дело. Спасибо за все.</p>

      <p><strong>Татьяна, 41 год</strong><br/>
        Понравилось абсолютно все! Благодарю вас! Устройство мира и человека – очень интересно! Пожелание – скорее увидеться и продолжить работу.</p>

      <p><strong>Юлия, 23 года</strong><br/>
        Для меня было ценным и важным прочувствовать в себе что-то новое, узнать, понять. Узнать для себя: жизнь свою, открыть в себе проблемы, о которых я не задумывалась, но сейчас ощутила.</p>

      <p><strong>Светлана, 58 лет</strong><br/>
        Я осознала, что я бесценно творение Отца-Творца. Я – лучик солнца и душа моя – светлая комната, в которой огромное количество любви и доброты. Я осознала, как много мне дал Бог талантов, которые мне необходимо раскрыть и показать людям, миру! Благодарю за эти 3 чудесных дня! Вы оба – чудесные люди, которые внесли в мою жизнь ясность и осознание моего пути. Продолжайте дарить людям свет и Любовь! Огромное спасибо! Я вас люблю!</p>
      
      <p><strong>Ольга, 42 года</strong><br/>
        Очень ценно было понимание себя, мне кажется, что сейчас у меня нет смутных сомнений и непоняток, почему я раньше поступала так, а не по другому. Я чувствую одну только легкость и спокойствие, меня не тревожит ни будущее, не угнетает прошлое. За последние дни очень поменялось состояние. Если раньше я всегда все просчитывала по минутам по времени, то сейчас я могу просто не смотреть на часы, я и так все успеваю. По крайне мере, я поняла вчера после тренинга, нет никакой усталости, нет никакого раздражения, все воспринимается очень спокойно. Я очень хорошо вижу изменения, какие произошли со всеми после первого дня. В пятницу все были уставшие, а сейчас будто все светяться изнутри. Спасибо вам большое. Я попытаюсь все ваши уроки воплотить в жизнь, и понимаю, что зря сомневалась идти или нет. Буду рада снова присутсвовать на ваших тренингах.</p>

      <h5>ВЫ - Творцы 2</h5>

      <p><strong>Игорь, 31</strong><br/>
        Получил мощные вибрации души через тело<br/>
        Получил ответы на свои вопросы.<br/>
        Сделал шажок на Пути.<br/>
        Большое спасибо всему!</p>


      <p><strong>Наталья, 32</strong><br/>
        Это новый мир и новые возможности!</p>

      <p><strong>Анна, 41</strong><br/>
        Очень глубокий тренинг. Сильные пробаботки. Спасибо!</p>

      <p><strong>Инна, 42</strong><br/>
        Пока трудно сказать: это какой-то глобальный и мощный переворот во всем. Я в подобных тренингах еще не участвовала. За два дня - целая Вселенная!<br/>ОГРОМНАЯ благодарность тренерам!</p>

      <p><strong>Антон, 22</strong><br/>
        Мне понравилось, удалось существенно дополнить свои миры,почистить их, привести в порядок главный канал.</p>

      <p><strong>Юлия, 26</strong><br/>
        Большое спасибо! Мне очень тепло на душе, легко и светло!</p>

      <p><strong>Ольга, 43</strong></br>
        Вроде раньше все понимала также, но то, что было на тренинге, дало «корень» осознания.</p>

      <p><strong>Дмитрий, 39</strong></br>
        Спасибо за полученные знания, за якорение энергии любви, за состояние умиротворения!</p>

      <p><strong>Наталья, 43</strong><br/>
        Теперь я знаю, что такое любовь!</p>

      <p><strong>Ольга, 47</strong><br/>
        Солнышко внутри горит, светит, греет, люблю свой путь, люблю всем сердцем и принимаю в сердце любовь.Мне хорошо!</p>

      <p><strong>Татьяна, 43</strong><br/>
        Очень много нового о любви к себе!Необычные медитации.Очень сильные болевые ощущения в сердце в первый день и истерика сменились ровным спокойствием на второй день, и хочется его удержать.</p>


      <p><strong>Наталья, 39</strong><br/>
        Впечатлений масса,очень интересно было услышать относительно того мировоззрения, тех чужих миров,которые лично мне на данный момент мешают раскрыться.И в целом весь объем материала для меня интересный, все новое.</p>

      <p><strong>Ирина, 41</strong><br/>
        Я продолжила путь по любви своего сердца,любву к своему творцу и Отцу-Творцу.</p>

      <p><strong>Валерия, 30</strong><br/>
        Ощущение легкости,ощущение того, что знаю ответы на все вопросы в своей жизни.Возникло желание жить полной жизнью,быть Творцом в своей жизни!</p>

      <p><strong>Юлия, 27</strong><br/>
        Происходят изменения во всех сферах жизни: и в работе, и в здоровье,и в осознании.Очень спокойное состояние.О многом начинаешь задумываться, воспринимать жизнь по другому-через любовь!</p>

      <p><strong>Татьяна, 31</strong><br/>
        Появились новые ощущения,какая-то глубина внутри.Прояснились многие вопросы,стали понятны причины многих жизненных ситуаций.</p>

      <p><strong>Ника, 36</strong><br/>
        Появилась уверенность в том, что нет причин для уныния (никогда), спокойствие, другой взгляд на тяжелые жизненные ситуации, стало легче выстраивать отношения с мамой. Получила ответы на многие мучившие вопросы.<br/>Теперь я знаю, что все получится. Хочется поделиться с подругами! Чувствую огромные силы внутри себя!</p>

    </div>
    <%= render partial: 'shared/sidebar', locals: { active: 2 } %>
  </section>
</article>
