<!-- Кто мы -->
<% content_for :header do %>
  <h2>Кто мы и зачем мы</h2>
  <h4 class="subheader">Мы – команда, мы – семья, мы-профессионалы, одухотворенные, интересные, современные люди, идущие вперед времени.</h4>
<% end %>

<article class='twelve columns'>
  <section class='row'>
    <div class='content nine columns'>
      <p>Мы не хотим давать общие фразы, мы хотим чтобы вы почувствовали результат.</p>
      <p>Наша Цель - Воплощение Любви в Жизни.</p>
      <p>Наши Задачи – Научиться Воплощать Любовь, Помочь Раскрыть Источник Любви в каждом Человеке.</p>
      <p>Наша Миссия – Любовь ради Любви.</p>
    </div>
    <%= render partial: 'shared/sidebar', locals: { active: 2 } %>
  </section>
</article>
