<!-- Стиль жизни -->
<% content_for :title do %>Основы стиля жизни - <% end %>

<% content_for :description do %>
Мы – команда, мы – семья, мы-профессионалы, одухотворенные, интересные, современные люди, идущие вперед времени.
<% end %>

<% content_for :keywords do %>
<% end %>

<% content_for :header do %>
  <h2>Основы стиля жизни</h2>
  <h4 class="subheader">На чем основан наш СТИЛЬ ЖИЗНИ-ЛЮБОВЬ:</h4>
<% end %>

<article class='twelve columns'>
  <section class='row'>
    <div class='content nine columns'>
      <h5>Единство безусловной любви</h5>

      <p>«Стиль жизни - Любовь» направлен на воплощение новой философии жизни, новой морали и этики, основанных на Единстве Безусловной Любви каждого человека на Земле, это возрождение истинной духовности и единства людей вне зависимости от пола, возраста, национальности, вероисповедания или социального статуса. Центр нашего движения по воплощению этого стиля жизни находится в Санкт-Петербурге и распространяется на всю Россию, мы представлены в таких городах как Пермь, Калининград, Москва, Красноярск, Новосибирск, Тюмень, Нижний Новгород, Киев.</p>
      
      <h5>Раскрытие талантов</h5>

      <p>«Стиль жизни - Любовь» воплощается в нескольких направлениях деятельности: проведение обучающих мероприятий, издание книг, создание сети людей-осознанных творцов жизни во всех регионах нашей страны и русскоговорящих странах, организация мероприятий помощи нуждающимся, проведение творческих и досуговых мероприятий, основанных на раскрытии талантов каждого и воплощение их в реальных действиях.</p>

      <h5>Потенциал ТВОРЦА</h5>

      <p>«Стиль жизни - Любовь» реализуется через каждого участника, на наших мероприятиях происходит раскрытие возможностей и талантов людей, искренне желающих изменить свою жизнь, жизнь близких и окружения к лучшему. Мы основываемся на том, что КАЖДЫЙ имеет потенциал ТВОРЦА, и мы помогаем избавиться от страхов, предрассудков, установок, проблем, закрывающих этот потенциал. Это происходит через групповые беседы и дискуссии, обсуждения и творческие задания, через исследование себя и воплощение простых инструментов жизни, которые доступным образом преподаются каждому.</p>

      <h5>Свобода каждого</h5>

      <p>«Стиль жизни - Любовь» рожден и работает для Человека, поэтому в нашей работе каждый человек нами принимается безусловно, то есть  таким, какой он есть с любовью и уважением к опыту и знаниям, которыми он обладает, к его характеру и уникальности, каждому дается свобода выражения своей уникальности и потенциала без требований и ожиданий. Наше движение по воплощению этого стиля жизни рождено для создания нового жизненного порядка – порядка Любви и Единства в каждой сфере жизни, в обществе, в государстве, в семье, на предприятии, в сердцах каждого из нас.</p>
    </div>
    <%= render partial: 'shared/sidebar', locals: { active: 4 } %>
  </section>
</article>
