<footer>
  <form class="well form-search" action="<%= blog_search_path %>" method="GET">
    <input name="q" type="text" class="input-medium search-query">
    <button type="submit" class="btn">Найти</button>
  </form>
</footer>