<% content_for :header do %>
  <h2>Плакаты семинаров</h2>
  <h4 class="subheader">В этом разделе размещены фото оригинальных плакатов с наших семинаров, прошедших по всей России в 2011-2012 годах с названием  «Вы-Творцы-1,2,3,4». Нами ведется разработка понятных и доступных графических рисунков со статьями и комментариями по каждой из представленных тем. Эти материалы будут также размещены в этом разделе БЕСПЛАТНО для всех желающих.</h4>
<% end %>

<div class="content nine mobile-four columns">
  <div class='row'>
    <%= render :partial => "image", :collection => @posts %>
  </div>  
  <%#= paginate @posts %>
</div>

<%= render partial: 'sidebar', locals: { active: 1 } %>