<!-- Плакаты семинаров -->
<% content_for :title do %>Плакаты семинаров - <% end %>

<% content_for :description do %>
В этом разделе размещены фото оригинальных плакатов с наших семинаров, прошедших по всей России в 2011-2012 годах с названием «Вы-Творцы-1,2,3,4».
<% end %>

<% content_for :keywords do %>
медиатор семинар плакаты творец
<% end %>

<% content_for :header do %>
  <h2>Плакаты семинаров</h2>
  <h4 class="subheader">В этом разделе размещены фото оригинальных плакатов с наших семинаров, прошедших по всей России в 2011-2012 годах с названием «Вы-Творцы-1,2,3,4».</h4>
<% end %>

<div class="content nine mobile-four columns">
  <div class='row' style='margin-bottom:20px;'>
    <p>Мы разместили плакаты без коррекции, ретуши, без изменений – в этом есть смысл.</p>

    <p>Все эти плакаты  нарисованы нами, ведущими семинаров, в процессе ведения семинаров в разных городах, на этих плакатах можно увидеть и картинки и слова, и инструкции и домашние задания, все это было создано в состоянии потока для людей, присутствовавших на семинаре, и каждый плакат несет в себе не только информацию, но и энергии того дня и той темы, когда плакат был создан.</p>

    <P>Мы надеемся, что, обратившись к этим плакатам, вы сможете восстановить в памяти пройденные темы, ощутить вибрации этой темы и семинара, эффект практической работы, проделанной с нами вместе на каждом занятии.</p>

    <p>Самое главное в этих плакатах – это ощущение, которое они несут для каждого участника. Что же касается ясности, простоты и чистоты информации, представленной здесь, то нами ведется разработка понятных и доступных графических рисунков со статьями и комментариями по каждой из представленных тем. Эти материалы будут также размещены в этом разделе БЕСПЛАТНО для всех желающих.</p>
  </div>
  
  <div class='row'>
    <%= render :partial => "image", :collection => @posts %>
  </div>  
</div>

<%= render partial: 'sidebar', locals: { active: 0 } %>