<% content_for :header do %>
  <h2>Материалы</h2>
  <h4 class="subheader">Блог в котором мы публикуем обучающие, интересные и веселые статьи</h4>
<% end %>

<div class="content nine mobile-four columns">  
  <%= render :partial => "post", :collection => @posts %>
  <%= paginate @posts %>
</div>

<%= render partial: 'sidebar', locals: { active: 1 } %>