<div class="row" id="blog">
  <div class="nine mobile-four columns">  
    <%= render :partial => "post", :collection => @posts %>
    <%= paginate @posts %>
  </div>

  <div class="three mobile-four columns">
    <section class="sidebar">
      <%= render :partial => "sidebar" %>
    </section>
  </div>
</div>