<% content_for :header do %>
  <h2>Материалы</h2>
  <h4 class="subheader">Блог в котором мы публикуем обучающие, интересные и веселые статьи</h4>
<% end %>

<div class="content nine mobile-four columns">
  <h3><%= @post.title %></h3>

  <% if @post.tags == 'image' %>
    <%= image_tag @post.featured_image.full, alt: @post.title %>
  <% end %>

  <p><%= @post.content.html_safe %></p>
</div>

<%= render partial: 'sidebar', locals: { active: 0 } %>